<p id="notice"><%= notice %></p>

<p>
  <strong>Cart:</strong>
  <%= @item.cart_id %>
</p>

<p>
  <strong>Book:</strong>
	<%= @item.book.title %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
