<p id="notice"><%= notice %></p>
<p>
	<strong>Description:</strong>
	<%= @cart.description %>
</p>
<p id="alert"><%= alert %></p>

<p>
	<%= form_for(Item.new) do |f| %>
	<div>
	<span class="field">
	<%= f.label :book_id %>
	<%= f.select :book_id,
	Book.all.collect{|b| [b.title, b.id]}.sort %>
	</span>
	<span class="field">
	<%= f.label :quantity%>
	<%= f.number_field :quantity%>
	</span>
	<span class="actions">
	<%= f.submit "Add item to cart" %>
		</span>
	</div>
	<% end %>
</p>
<p>
	<% if @cart.items.count > 0 then %>
		<b>Cart Items:</b>
		<table>
			<tr>
				<th>Title</th>
				<th>Quantity</th>
				<th>Unit Price</th>
				<th>Extended Price</th>
			</tr>
			<% @cart.items.each do |item| %>
			<tr>
				<td><%= item.book.title %></td>
				<td><%= item.quantity %></td>
				<td><%= item.book.price %></td>
				<td><%= item.extended_price %></td>
				<td><%= link_to 'Remove item', item,
:confirm => 'Are you sure?', :method => :delete %></td>
			</tr>
			<% end %>
		</table>
<% else %>
	The cart is empty.
<% end %>
</p>
<p>
	<% if @cart.items.count > 0 then %>
	<%= link_to 'Checkout', checkout_cart_path(@cart),
:method => :put %> |
	<% end %>
	<%= link_to 'List books', books_path %>
	<%= link_to 'Change cart name', edit_cart_path(@cart) %> |
	<%= link_to 'Delete the cart', @cart,
:confirm => 'Are you sure?', :method => :delete %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
