<p id="notice"><%= notice %></p>

<h1>Listing Publications</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Book</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.book.title %></td>
        <td><%= publication.author.name %></td>
        <td><%= link_to 'Show', publication %></td>
        <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
        <td><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication', new_publication_path %><br>
<%= link_to "Home", welcome_index_path %>
