<%= form_for(@publication) do |f| %>
  <% if @publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% @publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :book_id %><br>
      <%= f.select :book_id, Book.all.collect{|book| [book.title, book.id]} %>
    </div>
    <div class="field">
      <%= f.label :author_id %><br>
      <%= f.select :author_id, Author.all.collect{|author| [author.name, author.id]} %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
