<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @publication.book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @publication.author.name %>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
