<p id="notice"><%= notice %></p>

<h1>Listing Actors</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Birthdate</th>
      <th>Number of movie appearances</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= actor.first_name %></td>
        <td><%= actor.last_name %></td>
        <td><%= actor.birthdate %></td>
				<td><%= actor.movies.size %></td>
        <td><%= link_to 'Show', actor %></td>
        <td><%= link_to 'Edit', edit_actor_path(actor) %></td>
        <td><%= link_to 'Destroy', actor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Actor', new_actor_path %>
<%= link_to "Home", welcome_index_path %>