<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @actor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @actor.last_name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @actor.birthdate %>
</p>

<p>
  <strong>Movies this actor has appeared in:</strong>
  <table class="table">
    <tr>
      <th>Title</th>
      
    </tr>
		<% @actor.movies.each do |movie| %>
      <tr>
				<td><%= movie.title %></td>
      </tr>
    <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
